@charset "UTF-8";
h1 {
	color: #800000;
	text-align: center;
}

#arriba {
	color: purple;
	text-align: left;
}

#medio {
	color: orange;
	position: relative;
	left: 400px;

	
}

#bajo{
	color: red;
	position: relative;
	left: 825px;

	
}

